.div-container {
    position: relative;
    max-width: 60rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#151320 ;
}

.div-container::before, .div-container::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 3rem);
    height: calc(100% + 3rem);
    background: linear-gradient(45deg, #ffff00,#00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00,#00ff00, #0099ff, #001aff, #a200ff );
    background-size: 300%;
    border-radius: 0.8rem;
    animation: animeBorder 6s linear infinite;
}

@keyframes animeBorder {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 300%;

    }
}


.div-container::after {
    filter: blur(5rem);
}


@media (max-width: 740px) {
    body {
        height: 100vh;
        position: fixed;
        top: 1rem;
    }


    .div-container {
        height:98vh;
        width: 96vw;
    }
}

@media (max-width: 380px) {
    body {
    
        top: 0.5rem;

    }

        
}